**Importing Libraries**

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

**Loading Data**

In [2]:
data=pd.read_csv("data_for_lr.csv")

In [3]:
data.head(10)

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984
5  36.0  32.463875
6  12.0  10.780897
7  81.0  80.763399
8  25.0  24.612151
9   5.0   6.963319

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       700 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 11.1 KB

In [5]:
data.isnull().sum()

x    0
y    1
dtype: int64

**Data Processing  For NULL values**

In [6]:
data=data.dropna()
print("Shape of the data: ",data.shape)

Shape of the data:  (699, 2)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 699 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       699 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 16.4 KB

**Spliting the data**

In [9]:
#Trainging input and output
train_input=np.array(data.x[0:500]).reshape(500,1)
train_output=np.array(data.y[0:500]).reshape(500,1)

#Validation data input and output
test_input=np.array(data.x[500:700]).reshape(199,1)
test_output=np.array(data.y[500:700]).reshape(199,1)

In [10]:
print(f"Training input data  shape= {train_input.shape}")
print(f"Training output data shape= {train_output.shape}")
print(f"Training input data shape = {test_input.shape}")
print(f"Training output data shape= {test_output.shape}")

Training input data  shape= (500, 1)
Training output data shape= (500, 1)
Training input data shape = (199, 1)
Training output data shape= (199, 1)